@model Pagos_Challenge.Models.Pago

@{
    ViewBag.Title = "EditarPago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4>Editar Pago</h4>
            </div>
            <div class="card-body">
                <form action="@Url.Action("EditarPago","Pago")" method="post">
                    <input type="hidden" name="IdPago" class="form-control" value="@Html.DisplayTextFor(m => m.IdPago)" />
                    <div class="mb-3">
                        <label>Producto/Servicio:</label>
                        <input type="text" name="pago" class="form-control" value="@Html.DisplayTextFor(m => m.pago)" />
                    </div>
                    <div class="mb-3">
                        <label>Fecha:</label>
                        <input type="date" name="fecha" class="form-control" value="@Model.fecha.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="mb-3">
                        <label>Importe del pago:</label>
                        <input type="number" name="importe" class="form-control" value="@Html.DisplayTextFor(m => m.importe)" />
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-warning" href="@Url.Action("Index","Pago")"> Volver </a>
                </form>
            </div>
        </div>
    </div>
</div>

